<script id="ui.modal.remove" type="text/x-handlebars-template">
	<div class="modal larch-modal">
		<div class="fullscreen-modal">
			<div class="modal-close-button">
				<a href="" class="close" data-on-click="close()"></a>
			</div>

			<div class="row">
				<h3><i class="fa fa-trash"></i> remove my view</h3>
			</div>

			<div id="modal-detail-remove" class="row modal-detail">
				<div class="col-md-6 col-md-offset-3">
					<div class="alert hidden">
						<!-- errors -->
					</div>
					<form class="form-horizontal centered" id="new-ds-shared">
						<p>You are about to remove <strong>{{dashboard.name}}</strong> from your views. Are you sure?</p>

						{{#if dashboard.fromShared}}
							<p>This view is shared, so only your instance will be removed.</p>
						{{/if}}

						<p>&nbsp;</p>

						<button type="button" class="btn btn-danger" data-on-click="remove()">remove {{dashboard.name}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>



</script>