<script id="ui.modal.accounts.add" type="text/x-handlebars-template">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="modal-search">
				<input id="search-box" autofocus="" autocomplete="false" aria-autocomplete="list" value="{{value}}"
					placeholder="just type"
					data-on-keyup="search()">
			</div>	
		</div>
	</div>
	<div class="results" id="result-list">
	</div>
</script>

<script id="ui.modal.accounts.add.results" type="text/x-handlebars-template">
	{{#each results}}
	<div class="item">
		<span class="name">{{name}}</span>
		<span class="title">{{title}}</span>
		
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">add account</button>
		</div>
	</div>
	{{/each}}
</script>