<script id="ui.modal.new" type="text/x-handlebars-template">
	<div class="modal larch-modal">
		<div class="fullscreen-modal">
			<div class="modal-close-button">
				<a href="" class="close" data-on-click="close()"></a>
			</div>

			<div class="row">
				<h3><i class="fa fa-share-alt"></i> make new view</h3>
				<div class="row modal-options">
					<div class="col-xs-8 col-xs-offset-2">
						<div class="col-md-6 modal-option enabled" id="modal-option-my" data-on-click="show('my')">
							<h4>my view</h4>
							<p class="description">Simply create new view</p>
						</div>

						<div class="col-md-6 modal-option enabled" id="modal-option-from" data-on-click="show('from')">
							<h4>from shared</h4>
							<p class="description">Use publicly available URL and save it among your views</p>
						</div>
					</div>
				</div>
			</div>

			<div id="modal-detail-my" class="row modal-detail hidden">
				<div class="col-md-6 col-md-offset-3">
						<div class="alert hidden">
							<!-- errors -->
						</div>
						<form class="form-horizontal" id="edit-dashboard-form">
							<div class="form-group">
								<div class="col-sm-12">
									<input name="name" class="settings form-control" placeholder="put the name here" type="text" data-model="name" value="{{ds.name}}" data-error="SETT_NAME_MISSING_ERR">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea name="desc" class="settings form-control" placeholder="this is my fancy new dashboard" data-model="desc" data-validate="dashboard-description">{{ds.desc}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<select data-model="layout" class="form-control">
										<option value="['tall', false, false]">one eye layout</option>
										<option value="['tall', false, 'tall']">two to manage layout</option>
										<option value="[false, 'short', 'tall']">smalls on top layout</option>
										<option value="['tall', 'short', false]">smalls on bottom layout</option>
										<option value="['tall', 'short', 'tall']">full page layout</option>
									</select>
								</div>
							</div>
							<button type="button" class="btn btn-primary" data-on-click="save()">so be it..</button>
						</form>
					
				</div>
			</div>

			<div id="modal-detail-from" class="row modal-detail hidden">
				<div class="col-md-6 col-md-offset-3">
					<div class="alert hidden">
						<!-- errors -->
					</div>
					<form class="form-horizontal" id="new-ds-shared">
						<div class="form-group">
							<div class="col-sm-12">
								<input name="url" class="settings form-control" data-model="url" placeholder="enter public view url here (https://...)" data-validate="public-url" value="{{url}}"
									data-error="NEW_SHARED_URL_ERR">
							</div>
						</div>
						<button type="button" class="btn btn-primary" data-on-click="saveBaseOnURL()">let's try it</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</script>