@import 'variables.less';
@import 'nvd3.less';

.chart {
	color: @chart-placholder-color;

	&.chart-large {
		width: 100%;
		height: 100%;
		margin: 5px auto;
		text-align: center;
	}

	&.chart-small {
		width: 100%; 
		height: 100%;
		margin: 10px auto;	
		text-align: center;
	}
}

/**
 * Line chart
 */
.chart-line {
	&-value {
		fill: none;
		stroke: black;
	}

	&-x-axis {
		font-size: 8px;

		path {
			margin-left: 5px;
			fill: none;
	        stroke: #777;
	        shape-rendering: crispEdges;

	        .tick {
	        	stroke: #777;
	        }
		}
	}

	&-y-axis {
		path {
			margin-top: 5px;
			fill: none;
	        stroke: #777;
	        shape-rendering: crispEdges;
		}

		text {
			text-anchor: end;
		}

		.tick {
        	stroke: #777;
        }
	}
}

.punch-card {
	&-value {
		fill: none;
		stroke: black;
	}

	&-x-axis {
		font-size: 8px;

		path {
			margin-left: 5px;
			fill: none;
	        stroke: #777;
	        shape-rendering: crispEdges;

	        .tick {
	        	stroke: #777;
	        }
		}
	}

	&-y-axis {
		path {
			margin-top: 5px;
			fill: none;
	        stroke: #777;
	        shape-rendering: crispEdges;
		}

		text {
			text-anchor: end;
		}

		.tick {
        	stroke: #777;
        }
	}
}

.widget {
	height: 100%;
}

svg {
	display: block;
	background-color: transparent;
	margin: auto;

	width: 100%;
	height: 100%;

	* {
		font-size: 12px;
	}
}
