@import 'variables.less';

*, html, body {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body {
	overflow-y: hidden;
	position: relative;
}

#content-wrapper {
	padding-top: 60px;
	height: calc(~"100vh - 40px") ;
	overflow-y: hidden;
	top: 0;
	min-width: @viewport-width !important;
}

.content { 
	height: 100%;
	overflow: scroll;
}

.centered {
	border: 1px solid black;
}