@import 'variables.less';

*, html, body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body {
	overflow-y: hidden;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-weight: 200;

	.fa {
		display: inline-block;
		position: relative;
		top: 3px;
		left: -5px;
		font-weight: 100;
		color: @link-color;
	}
}

#content-wrapper {
	padding-top: 40px;
	height: calc(~"100vh - 40px") ;
	overflow-y: hidden;
	top: 0;
	min-width: @viewport-width !important;
}

.larch-loader {
	margin-left: 10px;
}

.form-actions {
	text-align: center;
}

.content { 
	height: 100%;
	overflow: scroll;
}

.hidden {
	display: none;
}

.displayed {
	display: block;
}