.tooltip-inner {
    white-space:pre-wrap;
}

.larch-header-row {
	& > .pull-left {

	}

	& > .pull-right {
		text-align: right;
	}
}

#larch-dashboard-content {
	height: 100%;
	background-color: red;
	& > div {
		position: absolute;
		z-index: 10;
	}
}

.larch-grid {
	position: absolute;
	z-index: 5;
}