@import 'variables.less';

.fullscreen-modal {
	background: -webkit-linear-gradient(left, 
                rgba(255,255,255,0.1) 0%, 
                rgba(255,255,255,1) 10%,
                rgba(255,255,255,1) 90%,
                rgba(255,255,255,0.1) 100%
    );
	position: fixed;
	top: 50px;
	left: 10%;
	width: 85%;
	height: 100%;
	margin: 0 auto;
	text-align: center;

	.disabled {
		color: grey;
	}
}


.modal-options {
	margin-top: 30px;
	height: 7em;

	.modal-option {
		border-radius: 5px;

		&:hover {
			cursor: pointer;
			background-color: @modal-selected-color;
			border: none;
			& > p {
				display: block;	
			}
		}

		&:not(.last) {
			// border-width: 0 2px 0 0;
			// border-image: url('../images/border.png') 0 2 0 0 repeat;
			// border-image-outset: 0;
		}
	}

	.selected {
		background-color: @modal-selected-color;
		border: none;
	}

	.description {
		font-weight: 200;
	}
}

.modal-detail {
	margin-top: 25px;
	text-align: left;
	height: calc(~"100vh - 20em");
	overflow-y: scroll;

	.help-block {
		margin-top: 2px;
	}
}

.modal-close-button {

	.close {
		position: absolute;
		right: 32px;
		top: 32px;
		width: 32px;
		height: 32px;
		opacity: 0.3;

		&:hover {
			color: @link-color;
		}

		&:before, &:after {
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: #333;
		}
		
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

	}
}

.modal-header {
	padding-bottom: 0px;
	border-bottom: none;
}

.modal-search {
	width: 100%;
	
	input {
		width: 100%;
	}
}

#tab-addwidget {
	min-height: 200px;
}

#tab-widgets {
	ul {
		min-height: 40px;
	}
}

.larch-modal-open {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
	visibility: visible;
	overflow: hidden;
}