@import 'variables.less';

.sidebar-wrapper {
	min-width: @sidebar-width;
	margin-bottom: 100px;
	padding: 0 !important; 
	height: 100%;
	overflow: scroll;
	color: black;
}

.sidebar-list {
	list-style: none;
	padding: 5px 0 0 5px;
	margin-bottom: 20px;
	border-width: 2px 0 0 0;
	border-image: url('../images/border.png') 2 0 0 0 repeat;
	border-image-outset: 0;

	a {
		display: inline-block;
		width: 100%;

		&:hover {
			text-decoration: none;
		}
	}

	.shared {
		float: right;
	}

	h6 {
		color: @sidebar-title-color;
		font-weight: 200; 
		display: block;
		text-align: right;
		margin: 0 0 10px 0;
		padding: 0;
	}

	li {
		font-size: 15px;
		padding-left: 5px;

		&:hover, &.selected {
			border-left: 2px solid @header-background-color;
			padding-left: 3px;				
		}

		.desc {
			display: block;
			font-size: 12px;
			color: grey;
			padding-left: 5px;
		}
	}
}