<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>

<div class="navbar-collapse collapse">
	<div class="col-xs-4">
		<ul class="nav navbar-nav">
			<li><a class="navbar-nav-link" href="" data-on-click="newDashboard()">new dashboard</a></li>
			<li><a class="navbar-nav-link" href="" data-on-click="authNewSource()">my accounts</a></li>
		</ul>
	</div>

	<div class="col-xs-4 navbar-centered">
		<ul class="nav navbar-nav">
			<li><a class="navbar-nav-link" href="#">remove</a></li>
			<li><a class="navbar-nav-link" href="#">share</a></li>
			<li><a class="navbar-nav-link" href="#" data-on-click="openEdit()">edit</a></li>
			<li><a class="navbar-nav-link" href="#">like</a></li>
		</ul>
	</div>

	<div class="col-xs-4">
		<ul class="nav navbar-nav navbar-right">
			<li><a class="navbar-nav-link" href="#">logout</a></li>
			<li><a class="navbar-nav-link" href="#">stepan_kouba</a></li>
		</ul>
	</div>
</div>