<div class="col-xs-12">
	<div class="user pull-right">
		<div class="item dropdown" dropdown>
			<a href class="dropdown-toggle" dropdown-toggle>
				<img src="images/avatar.jpg">
			</a>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li class="dropdown-header">{{HeaderCtrl.LarchUser.current.username}}</li>
				<li class="divider"></li>
				<li class="link" ng-show="!HeaderCtrl.LarchUser.current">
					<a href="" ng-click="HeaderCtrl.login();">login</a>
				</li>
				<li class="link" ng-show="HeaderCtrl.LarchUser.current">
					<a href="#" ng-click="HeaderCtrl.showDetail();">get user detail</a>
				</li>
				<li class="divider"></li>
				<li class="link" ng-show="HeaderCtrl.LarchUser.current">
					<a href="#" ng-click="HeaderCtrl.logout();">Logout</a>
				</li>
			</ul>
		</div>
		<div class="item dropdown" dropdown>
			<a href class="dropdown-toggle" dropdown-toggle>
				<i class="fa fa-bell-o"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li class="dropdown-header">
					Notifications
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Server Down!</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="meta">
		<div class="page">
			Dashboard
		</div>
		<div class="breadcrumb-links">
			Home
		</div>
	</div>
</div>